#binary-coded.clock.hide-help.hide
  ul.eight
    li.offset &nbsp;
    li.hours.tens
      .circle.hide-circle
    li.hours.ones
      .circle
    li.minutes.tens
      .circle.hide-circle
    li.minutes.ones
      .circle
    li.seconds.tens
      .circle.hide-circle
    li.seconds.ones
      .circle
    li.offset
      .bits 8

  ul.four
    li.offset &nbsp;
    li.hours.tens
      .circle.hide-circle
    li.hours.ones
      .circle
    li.minutes.tens
      .circle
    li.minutes.ones
      .circle
    li.seconds.tens
      .circle
    li.seconds.ones
      .circle
    li.offset
      .bits 4

  ul.two
    li.offset &nbsp;
    li.hours.tens
      .circle
    li.hours.ones
      .circle
    li.minutes.tens
      .circle
    li.minutes.ones
      .circle
    li.seconds.tens
      .circle
    li.seconds.ones
      .circle
    li.offset
      .bits 2
    
  ul.one
    li.offset &nbsp;
    li.hours.tens
      .circle
    li.hours.ones
      .circle
    li.minutes.tens
      .circle
    li.minutes.ones
      .circle
    li.seconds.tens
      .circle
    li.seconds.ones
      .circle
    li.offset
      .bits 1
        
  ul.time
    li.offset &nbsp;
    li.hours.tens
    li.hours.ones
    li.minutes.tens
    li.minutes.ones
    li.seconds.tens
    li.seconds.ones
    li.offset &nbsp;
