doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
      | Binary Clock
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', type="image/x-icon", href='/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='app.css')

  body
    .container

     include partials/bcd

    a.settings-btn(href="#settings-modal")

    section.settings-modal#settings-modal.semantic-content(tabindex='-1', role='dialog', aria-labelledby='modal-label', aria-hidden='true')
      .modal-inner
        header
          h2 Settings

        form.modal-content
          .section-label Choose Theme
          .inputs
            .input-group
              input(type="radio", value="default", name="theme", checked="checked")
              span.theme-select.default
                .bg
                .hl
            .input-group
              input(type="radio", value="theme-1", name="theme")
              span.theme-select.theme-1
                .bg
                .hl
            .input-group
              input(type="radio", value="theme-2", name="theme")
              span.theme-select.theme-2
                .bg
                .hl

          .section-label Display Time
          .inputs
            .input-group
              input(type="radio", value="yes", name="helper")
              label Yes
            .input-group
              input(type="radio", value="no", name="helper", checked="checked")
              label No

          .section-label Clock Type
          .inputs
            .input-group
              input(type="radio", value="24", name="clock-type")
              label 24h
            .input-group
              input(type="radio", value="12", name="clock-type", checked="checked")
              label 12h

        footer
          p
            a.btn(href='#!') OK
            a.close(href='#!', title='Close', data-close='Close', data-dismiss='modal') Cancel

    script(src='app.min.js')
